@import "../../../../variables.scss";

.react-select__multi-value__label{
    display: inline-block;
    width: 18px;
}

.react-select__multi-value:first-of-type .react-select__multi-value__label{
    width: fit-content;
}

.react-select__multi-value .react-select__multi-value__label::before{
    content: '+1 ';
}

.react-select__multi-value:first-of-type .react-select__multi-value__label::before{
    content: '';
}